*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

 .bg{
  background: url('./Components/Image/bg-img-blur.png');
  background-size:contain;
  height: 100vh;
  /* padding: 4% 0; */
  /* filter: blur(10px); */
  /* backdrop-filter: blur(2px);  */
} 



/*---------------------------------------Form Component------------------------------------------- */

.container{
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* transform: translateY(50%); */
  filter: drop-shadow(0 0 0.15rem #545454);
}

.contStyle{
  background: transparent;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
}

.form{
  width: 40%;
  background-color: #fff;
  text-align: center;
  padding: 10px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.form img{
  width: 100px;
  height: 100px;
}

.clgNm{
  color: #1E5075;
  font-weight: 700;
  font-size: 20px;
  padding: 20px 0px;
}

.siteNm{
  color: #000;
  font-weight: 800;
  font-size: 25px;
}

.userId{
  border: 1px solid #000;
  border-radius: 20px;
  padding:8px 5px;
  display: flex;
  align-items: center;
}

form{
  margin: 30px 30px;
}

.userBadge{
  width: 15%;
}

input, select{
  border: none;
  outline: none;
  width: 85%;
  /* color: #1E5075; */
}

#userId{
  padding: 0px 5px;
}

select{
  color: #838383;
  cursor: pointer;
  margin-left: -3px;
}

.submit{
  margin: 0px 50px;
}

input[type=submit]{
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #0a7fd5;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

input[type=submit]:hover{
  background-color: #0a68ab;
}

.forgotPass{
  padding: 8px 0px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}

.forgotPass > p:hover{
  text-decoration: underline;
  color: #1E5075;
}



/* ---------------------------------------Notice Section ----------------------------------------------- */

.notice{
  width: 60%;
  background-color: rgba(189, 188, 188, 0.477);
  text-align: center;
  padding: 50px;
  /* background-color: green; */
  /* border-radius: 6px; */
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.notice h2{
  font-weight: 400;
}

.notice hr{
  margin: 0px 160px;
  border: 0.1px solid black;
}

.updates{
  margin: 0px 0px;
}

.updInfo{
  display: flex;
}

.date{
  width: 20%;
  font-size: 22px;
  background-color: #0a80d597;
  /* width: fit-content; */
  padding: 2px 10px;
  border-radius: 6px;
  color: #fff;
}

.month{
  font-size: 11px;
}

.info{
  width: 100%;
  text-align: left;
  margin-left: 25px;
}

p.head{
  font-weight: 700;
  font-size: 18px;
}

.prev{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 40px;
}

.prev p{
  width: fit-content;
}

.prev p:hover{
  cursor: pointer;
  text-decoration: underline;
}

.prevArrow{
  margin-top: 1%;
  width: fit-content;
  padding: 0px 5px;
}

@media only screen and (max-width:430px){
  .notice{
    display: none;
  }

  .form{
    width: 100%;
    border-radius: 6px;
  }
}


